*{
    box-sizing: border-box;
    margin-top: 0;
}
body{
    font-family: 'Rajdhani', sans-serif;
}
h1{
    color: #ec183f;
    margin-bottom: 3px;
    width: 800px;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bolder;
}
h4{
    font-size: 12px;
    font-weight: bold;
}
h2{
    font-size: 22px;
    font-weight: bold;
}

img{
    width: 100%;
    border-radius: 10px;
}
.article2 {
    padding-bottom: 50px;
    border-bottom: 2px solid #CCC;
}



footer img{
    width: 40px;
}

footer { 
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
}
footer a {
    padding: 5px;
    box-shadow: 1px 1px 10px #CCC;
    border-radius: 10px;
    opacity: .8;
}
footer a:hover { 
    box-shadow: 1px 1px 10px violet;
    opacity:initial;
}

.container{
    width: 800px;
    padding-bottom: 30px;
    margin: 0 auto;
}

